<%- include ('header.ejs') %>

<body>

    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>


    <div class="box">
   
         
            <% for (let i=0 ; i <addedItem.length ; i++) { %>
                <div class="item">
                    <input type="checkbox"><p>
                    <%= addedItem[i] %>
                </p>
                </div>
                <%} %>
            
                
    <form class="item" action="/" method="POST" autocomplete="off" >
        <input type="text" name="listItem" placeholder="type here">
        <button type="submit" name="submit">+</button>


    </form>
        
    </div>




</body>
<%- include ('footer.ejs') %>